In [26]:
from pathlib import Path
import csv
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [2]:
# Path for whale returns
file_path = Path("whale_returns.csv")
df_combined_returns = pd.read_csv(file_path)
df_combined_returns = df_combined_returns.set_index('Date')

In [10]:
combined_returns = pd.concat([df_combined_returns, csv_combined_returns])
combined_returns

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2
Date,,,,,,
2015-03-02,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,NaN,NaN
2015-03-04,0.002230,0.003241,-0.002534,0.004213,NaN,NaN
2015-03-05,0.004016,0.004076,0.002355,0.006726,NaN,NaN
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,NaN,NaN
...,...,...,...,...,...,...
2019-04-25,NaN,NaN,NaN,NaN,0.000682,-0.007247
2019-04-26,NaN,NaN,NaN,NaN,0.002981,0.005256
2019-04-29,NaN,NaN,NaN,NaN,0.005208,0.002829
2019-04-30,NaN,NaN,NaN,NaN,-0.002944,-0.001570
2019-05-01,NaN,NaN,NaN,NaN,0.000094,-0.007358

In [5]:
df_combined_returns.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [7]:
df_combined_returns.count()

SOROS FUND MANAGEMENT LLC      1059
PAULSON & CO.INC.              1059
TIGER GLOBAL MANAGEMENT LLC    1059
BERKSHIRE HATHAWAY INC         1059
dtype: int64

In [9]:
# Path for algorithmic
csv_algorithmic = Path("algo_returns.csv")
csv_combined_returns = pd.read_csv(csv_algorithmic)
csv_combined_returns = csv_combined_returns.set_index('Date')

In [11]:
csv_combined_returns.count()

Algo 1    1241
Algo 2    1235
dtype: int64

In [12]:
csv_combined_returns.head()

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN
2014-06-02  0.005692     NaN
2014-06-03  0.005292     NaN

In [13]:
# Path for sp500
csv_sp500 = Path("sp500_history.csv")
sp500_data = pd.read_csv(csv_sp500)
sp500_data = sp500_data.set_index('Date')

In [14]:
sp500_data.head()

              Close
Date
23-Apr-19  $2933.68
22-Apr-19  $2907.97
18-Apr-19  $2905.03
17-Apr-19  $2900.45
16-Apr-19  $2907.06

In [15]:
sp500_data.dtypes

Close    object
dtype: object

In [16]:
# Fix Data Types
sp500_data["Close"] = sp500_data["Close"].str.replace("$", "")
sp500_data["Close"] = sp500_data["Close"].str.replace(",", "")
sp500_data["Close"] = sp500_data["Close"].astype("float")
sp500_data.dtypes

C:\Users\withn\AppData\Local\Temp/ipykernel_5560/2742832925.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sp500_data["Close"] = sp500_data["Close"].str.replace("$", "")

Close    float64
dtype: object

In [17]:
sp500_returns = sp500_data.pct_change()
sp500_returns.head()

              Close
Date
23-Apr-19       NaN
22-Apr-19 -0.008764
18-Apr-19 -0.001011
17-Apr-19 -0.001577
16-Apr-19  0.002279

In [18]:
sp500_data = sp500_data.rename(columns={"close": "column"})
sp500_data.head()

             Close
Date
23-Apr-19  2933.68
22-Apr-19  2907.97
18-Apr-19  2905.03
17-Apr-19  2900.45
16-Apr-19  2907.06

In [20]:
csv_returns = csv_combined_returns.pct_change()
df_returns = df_combined_returns.pct_change()

In [21]:
combined_data = pd.concat([combined_returns,sp500_data])
combined_data

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,Close
Date,,,,,,,
2015-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,NaN,NaN,NaN
2015-03-04,0.002230,0.003241,-0.002534,0.004213,NaN,NaN,NaN
2015-03-05,0.004016,0.004076,0.002355,0.006726,NaN,NaN,NaN
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,NaN,NaN,NaN
...,...,...,...,...,...,...,...
5-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1460.93
4-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1461.40
3-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1450.99
2-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1445.75
1-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1444.49

In [22]:
portfolio_data = combined_data.pct_change()

In [31]:
portfolio_data = portfolio_data.boxplot()

TypeError: boxplot() missing 1 required positional argument: 'x'

AttributeError: 'function' object has no attribute 'bar'